Repository introvert-y/ts-npm-publish-practice: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint, prettier --write

style: changelog
  CHANGELOG.md
  package.json
Due: prettier --write

feat(add test.js): add test.js
  src/test.js
Due: prettier --write ., eslint

feat(test.js): add content
  src/test.js
Due: prettier --write ., eslint

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(src/): delete src/test.js
  src/test.js
Due: prettier --write ., eslint

style(change .gitignore): open .husky config
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(release): 1.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs(readme.md change): 文档补充
  README.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.md
